<div class="container-subject">
  <p>Selection of subjects</p>
  <div>
    <select name="select-subject">
      <option value="value1">
        0334 Derecho Procesal Francisco Mora Miercoles: 8:00AM-11:00AM
      </option>
      <option value="value2">
        0335 Derecho Penal Luis Silva Jueves: 8:00AM-10:00AM
      </option>
      <option value="value3">
        0336 Derecho Ambiental Matias Morales Miercoles: 12:00PM-2:00PM
      </option>
    </select>
  </div>
  <div>
    <button>Agregar</button>
  </div>
</div>
